#Ativa o módulo Rewrite, que faz a reescrita de URL.
RewriteEngine On 

# Se $showScriptName for "false" no UrlManager, impede o acesso a URLs que tenham o nome do script (index.php)
RewriteRule ^index.php/ - [L,R=404]

#Determina que o rewrite só se aplicará se nao (!) existir um arquivo (-f) com aquele nome
RewriteCond %{SCRIPT_FILENAME} !-f 

#Determina que o rewrite só se aplicará se nao (!) existir um diretório (-d) com aquele nome
RewriteCond %{SCRIPT_FILENAME} !-d

#RewriteCond %{REQUEST_FILENAME} !-l
#RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]

#Redireciona o usuário para index.php para qualquer URL entrado.
RewriteRule . index.php

RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]


